style(type='text/css').
  .ratings,
  .price {
    color: #8e7f7f;
  }

  .price {
    margin-left: 10px;
  }

  .title {
    font-weight: 500;
    font-size: 17px;
  }

  .collection-item {
    background: #f9f9f9 !important;
  }

  .remove-shadow{
    box-shadow: none !important;
  }

  ul.collection .secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
